@font-face {
    font-family: "Play-Bold";
    src: local("Play-Bold"),
    url("../../../fonts/Play-Bold.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Play-Regular";
    src: local("Play-Regular"),
    url("../../../fonts/Play-Regular.ttf") format("truetype");
    font-weight: normal;
}