.coming-soon-image {
  width: 420px;
  height: 391px;
  opacity: 0.6;
  margin-left: 100px;
}

@font-face {
  font-family: "Salsa";
  src: local("Salsa"), url("../../fonts/Salsa-Regular.ttf") format("truetype");
  font-weight: normal;
}

/*.row {*/
/*    font-family: Salsa;*/
/*}*/
