.coming-soon-image {
    width: 520px;
    height: 491px;
    opacity: 0.6;
}

@font-face {
    font-family: "Salsa";
    src: local("Salsa"),
    url("../../fonts/Salsa-Regular.ttf") format("truetype");
    font-weight: normal;
}

/*.row {*/
/*    font-family: Salsa;*/
/*}*/